.home-page{
    width: 100%;
    margin-bottom: 50px;
}
.home-img-container{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    place-items: center;
}
.home-img-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-dark);
  opacity: 50%;
  z-index: -1;
}
.home-img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.home-img-title{
  padding: 10px 15px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  place-items: center;
}
.home-img-title *{
  color: var(--text-light);
}

.portrait-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.portrait-img-container{
  --portrait-width: 250px;
  position: relative;
  width: var(--portrait-width);
  height: var(--portrait-width);
  margin: 150px 15px 15px 15px;
}
.portrait-img{
  width: 100%;
  height: auto;
  border-bottom-left-radius: calc(var(--portrait-width) / 2);
  border-bottom-right-radius: calc(var(--portrait-width) / 2);
  position: absolute;
  bottom: 0;
}
.photo-outline{
  --portrait-border-weight: 5px;
  position: absolute;
  border: var(--portrait-border-weight) var(--secondary-light) solid;
  transform: translate(calc(var(--portrait-border-weight) * -1), calc(var(--portrait-border-weight) * -1));
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.description {
  max-width: 50%;
  margin-top: 50px;
}
.description-paragraph{
  transform: translate(0,200px);
  transition: transform .75s, opacity .75s;
  background-color: var(--secondary-dark);
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  opacity: 0;
}
.description-paragraph.animated{
  transform: translate(0,0);
  opacity: 1;
}

@media (max-width: 800px) {
  .description{
    max-width: 90%;
    margin-top: 50px;
  }
  .portrait-img-container {
    left: auto;
  }
  .portrait-section{
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .portrait-img-container {
    --portrait-width: 200px;
  }
}