.footer{
    background-color: var(--card-dark);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link-icon{
    margin-left: 2px;
}